<ion-view view-title="Sobre" hide-back-button="true">
    <ion-content>
    	<div class="text-center dark">
			<br /> <br />
			<i class="fa fa-fw fa-5x fa-graduation-cap"></i>
			<br /> <br />
			<p>
				Aplicativo desenvolvido por <b>Luann Francisco</b>
				<br />
				Tem código livre e foi projetado para <br /> ser parte do <b>TCC</b>
				<br />
				<b>FAETERJ</b>
				<br />
				<small>2015.1</small>
			</p>
		</div>
	</ion-content>
</ion-view>
