<ion-modal-view ng-controller="FornecedorController as frCtrl">
	<ion-header-bar class="bar-positive">
		<h1 class="title">Selecionar Fornecedor</h1>
	 	<div class="buttons">
	    	<button class="button button-clear" ng-click="frCtrl.pick.new()">
	    		&nbsp;<i class="icon ion-ios-plus-empty"></i>&nbsp;
	    	</button>
	    	&nbsp;
	    	<button class="button button-clear" ng-click="frCtrl.pick.select( null )">
	    		&nbsp;<i class="icon ion-ios-close-empty"></i>&nbsp;
	    	</button>
	  	</div>
	</ion-header-bar>
	
    <ion-content class="has-header">
    	<!-- Caso não existam registros -->
		<div ng-if="! frCtrl.Fornecedores.length" class="text-center dark">
			<br /> <br />
			<i class="fa fa-fw fa-5x fa-flag"></i>
			<br />
			<p>Nenhum <b>Fornecedor</b> <br /> foi encontrado</p>
			<br />
			<button class="button button-positive" ng-click="frCtrl.pick.new()">
				&nbsp;<i class="icon ion-ios-plus-empty"></i>&nbsp;
				<!-- Iniciar Pechincha -->
	    	</button>
		</div>
		<!-- /Caso não existam registros -->
		
		<ion-list>
			<!-- Registros Conhecidos
				[ Após seleção executa o Callback ] -->
			
		  	<ion-item class="item-icon-left" collection-repeat="fornecedor in frCtrl.Fornecedores" on-tap="frCtrl.pick.select( fornecedor )">
		  		<i class="dark icon ion-ios-star"></i>
			    <h2>{{fornecedor.Nome}}</h2>
			    <p>
			    	<i class="assertive ion-ios-location"></i> 
			    	{{fornecedor.Endereco ? fornecedor.Endereco : "Local não cadastrado"}}
			    </p>
			</ion-item>
		</ion-list>
</ion-modal-view>