<ion-view view-title="Fornecedor">
	<ion-nav-buttons side="right">
  		<button class="button button-clear" ng-click="frCtrl.pick.new()">
    		&nbsp;<i class="icon ion-ios-plus-empty"></i>&nbsp;
    	</button>
    </ion-nav-buttons>
	
    <ion-content>
    	<!-- Caso não existam registros -->
		<div ng-if="! frCtrl.Fornecedores.length && frCtrl.init.initialized" class="text-center dark">
			<br /> <br />
			<i class="fa fa-fw fa-5x fa-flag"></i>
			<br />
			<p>Nenhum <b>Fornecedor</b> <br /> foi encontrado</p>
			<br />
			<button class="button button-positive" ng-click="frCtrl.pick.new()">
				&nbsp;<i class="icon ion-ios-plus-empty"></i>&nbsp;
				<!-- Iniciar Pechincha -->
	    	</button>
		</div>
		<!-- /Caso não existam registros -->
		
		<ion-list>
			<!-- Registros Conhecidos
				[ Após seleção executa o Callback ] -->

		  	<ion-item class="item-icon-left" collection-repeat="fornecedor in frCtrl.Fornecedores" on-tap="frCtrl.pick.update( fornecedor )">
		  		<i class="dark icon ion-ios-star"></i>
			    <h2>{{fornecedor.Nome}}</h2>
			    <p>
			    	<i class="assertive ion-ios-location"></i> 
			    	{{fornecedor.Endereco ? fornecedor.Endereco : "Local não cadastrado"}}
			    </p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>