<ion-modal-view ng-controller="PropostaController as ppCtrl">
	<ion-header-bar class="bar-dark">
		<h1 class="title">
			{{ppCtrl.Pechincha.Alias}}
		</h1>
	 	<div class="buttons">
	    	<button class="button button-clear" ng-click="ppCtrl.modal.new()">
	    		&nbsp;<i class="icon ion-ios-plus-empty"></i>&nbsp;
	    	</button>
	    	&nbsp;
	    	<button class="button button-clear" ng-click="ppCtrl.modal.close()">
	    		&nbsp;<i class="icon ion-ios-close-empty"></i>&nbsp;
	    	</button>
	  	</div>
	</ion-header-bar>
	
    <ion-content class="tabs-striped tabs-background-stable tabs-color-dark">
		<!-- Caso não existam registros -->
		<div ng-if="! ppCtrl.Propostas.length && ppCtrl.init.initialized" class="text-center dark">
			<br /> <br />
			<i class="fa fa-fw fa-5x fa-flag"></i>
			<br />
			<p>Nenhuma <b>Proposta</b> <br /> foi encontrada</p>
			<br />
			<button class="button button-calm" ng-click="ppCtrl.modal.new()">
				&nbsp;<i class="icon ion-ios-plus-empty"></i>&nbsp;
				<!-- Iniciar Pechincha -->
	    	</button>
		</div>
		<!-- /Caso não existam registros -->
		
		<div ng-if="ppCtrl.BestOffer">
			<div class="card list" ng-click="ppCtrl.Produto.bestOffer()">
				<div class="item pechincha item-icon-left">
					<i class="icon ion-speakerphone assertive"></i>
					<h2>{{ppCtrl.BestOffer.fNome}}</h2>
					<p>Melhor Oferta !</p>
				</div>
				<div class="item item-thumbnail-left item-thumbnail-rectangle">
					<img ng-src="{{ppCtrl.BestOffer.pFoto}}"/>
					<h2>{{ppCtrl.BestOffer.pNome}}</h2>
					<p>
						{{ppCtrl.BestOffer.pPreco | currency}}
						<br />
						<!-- Stars -->
						<i class="ion-ios-star energized" ng-repeat="star in ppCtrl.Produto.stars( ppCtrl.BestOffer.pPdc ) track by $index"></i>
					</p>
				</div>
			</div>
		</div>
		
        <div class="list card" ng-repeat="proposta in ppCtrl.Propostas">
        	<div class="item concluido">
				<h2>{{proposta.NomeFornecedor}}</h2>
				<p> <small> Cotado em {{proposta.Data | date: 'dd/MM/yyyy'}} </small> </p>
			</div>
			<div class="item item-divider" ng-if="proposta.EnderecoFornecedor||proposta.TelefoneFornecedor||proposta.EmailFornecedor">
				<p class="text-right">
					<small ng-if="proposta.EnderecoFornecedor">
						{{proposta.EnderecoFornecedor}}&nbsp;
						<i class="ion-ios-location assertive"></i>
						<br />
					</small>
					
					<small ng-if="proposta.TelefoneFornecedor">
						{{proposta.TelefoneFornecedor}}&nbsp;
						<i class="ion-ios-telephone dark"></i>
						<br />
					</small>
					
					<small ng-if="proposta.EmailFornecedor">
						{{proposta.EmailFornecedor}}&nbsp;
						<i class="ion-ios-email positive"></i>
					</small>
				</p>
			</div>
			<!-- Lista dos produtos -->
            <div class="item item-thumbnail-left item-thumbnail-rectangle" ng-repeat="produto in proposta.Produtos" ng-click="ppCtrl.Produto.show( produto, proposta )">
            	<img ng-src="{{produto.Foto}}"/>
				<h2>{{produto.Nome}}</h2>
				<p>
					{{produto.Preco | currency}}
					<br />
					<i class="ion-ios-star energized" ng-repeat="star in ppCtrl.Produto.stars( produto.Pdc ) track by $index"></i>
				</p>
            </div>
			<!-- /Lista dos produtos -->
            <div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" ng-click="ppCtrl.Produto.insert( proposta )">
					<i class="icon ion-ios-plus-empty"></i>
					Produto
				</a>
				<a class="tab-item" ng-click="ppCtrl.modal.update( proposta )">
					<i class="icon ion-ios-color-wand-outline"></i>
					Editar
				</a>
				<a class="tab-item" ng-click="ppCtrl.modal.remove( proposta )">
					<i class="icon ion-ios-trash-outline"></i>
					Excluir
				</a>
			</div>
        </div>
    </ion-content>
	</ion-content>
</ion-modal-view>