<ion-tabs class="tabs-royal tabs-icon-top">
	
  <ion-tab title="Contatos" icon-on="ion-ios-people" icon-off="ion-ios-people-outline">
    <ion-nav-view name="contatos"></ion-nav-view>
  </ion-tab>
	
  <ion-tab title="About" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
    <!-- Tab 2 content -->
  </ion-tab>

  <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
    <!-- Tab 3 content -->
  </ion-tab>

</ion-tabs>