<ion-view view-title="Favoritos" hide-back-button="true">
	<ion-content>
		<ion-list>
			<ion-item class="item-thumbnail-left" ng-repeat="contato in fvCtrl.favoritos">
				<img ng-src="{{contato.foto}}" />
				<h2>{{contato.nome}}</h2>
				<p>{{contato.telefone}}</p>
				<p>{{contato.email}}</p>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>