<ion-view view-title="Sobre" hide-back-button="true">
	<ion-content class="padding">
		<div class="text-center">
			<h3>Agenda Nerd</h3>
			<h1><i class="ion-university"></i></h1>
			<p>
				Aplicativo desenvolvido para o curso introdutório de desenvolvimento mobile multiplataforma com Ionic.
			</p>
			<hr />
			Faeterj - 2015
		</div>
	</ion-content>
</ion-view>