<!-- Tabs -->
<ion-tabs class="tabs-royal tabs-icon-top">
	<ion-tab title="Contatos" icon-on="ion-ios-people" icon-off="ion-ios-people-outline" ui-sref="app.contatos">
		<ion-nav-view name="app-contatos"></ion-nav-view>
	</ion-tab>
	
	<ion-tab title="Favoritos" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" ui-sref="app.favoritos">
		<ion-nav-view name="app-favoritos"></ion-nav-view>
	</ion-tab>
	
	<ion-tab title="Sobre" icon-on="ion-ios-paw" icon-off="ion-ios-paw-outline" ui-sref="app.sobre">
		<ion-nav-view name="app-info"></ion-nav-view>
	</ion-tab>
</ion-tabs>